


img {
    max-width: 100%;
    height: auto;
}

#countdown-area{
  background:rgba(11, 11, 11, 0.8);
  padding:40px 0;
  margin:0 0 0;
}
  ul.countdown{
    list-style:none;
    margin:0;
    padding:0;
    display:block;
    text-align:center;
  }
    ul.countdown li{
      display:inline-block;
      margin:0 20px;
      padding:0;
    }
      ul.countdown li span{
        width:100px;
        height:100px;
        display:block;
        font-size:48px;
        font-weight:300;
        line-height:100px;
        border:2px solid #fff;
        -webkit-border-radius:50%;
             -moz-border-radius:50%;
              border-radius:50%;
      }
    ul.countdown li.seperator{
      font-size:80px;
      line-height:70px;
      vertical-align:top;
    }
      ul.countdown li p{
        color:#fff;
        font-size:24px;
        text-transform:capitalize;
        margin:0;
        padding:15px 0 0 0;
      }
